@import "tailwindcss";
@import "./assets.css";
@import './fonts.css';

:root {
  --font-chicago: 'ChicagoFLF', system-ui, -apple-system, sans-serif;
  --font-charcoal: 'Charcoal', system-ui, -apple-system, sans-serif;
  --font-geneva: 'Geneva', system-ui, -apple-system, sans-serif;
  --font-garamond: 'AppleGaramond', system-ui, -apple-system, sans-serif;
  --font-sans: var(--font-charcoal);
}

.icon-maximize {
  background-image: var(--maximize);
  opacity: 0.65;
  background-position: left top;
}

.icon-resizer {
  background-image: var(--resizer);
}

.icon-titlebar-center {
  background-image: var(--title-bar-center);
}

@theme inline {
  --font-sans: var(--font-charcoal);
  --font-mono: var(--font-geist-mono);
  --font-chicago: var(--font-chicago);
  --font-charcoal: var(--font-charcoal);
  --font-geneva: var(--font-geneva);
  --font-garamond: var(--font-garamond);
  --color-system-1: #EEEEEE;
  --color-system-2: #DDDDDD;
  --color-system-3: #CCCCCC;
  --color-system-4: #AAAAAA;
  --color-system-5: #808080;
  --color-system-6: #393939;
  --color-system-7: #202020;
  --color-outline-1: #6666CC;
  --color-theme-4: #6666CC;
}

body {
  font-family: var(--font-charcoal);
  overflow: hidden;
  cursor: default;
  user-select: none;
}

.text-blinker {
  animation: blinker 2s steps(1, end) infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
