@import "tailwindcss";
@import "./assets.css";

:root {
  --background: #9DB8C3;
  --foreground: #000000;
}

.icon-maximize {
  background-image: var(--maximize);
  opacity: 0.65;
  background-position: left top;
}

.icon-resizer {
  background-image: var(--resizer);
}

.icon-titlebar-center {
  background-image: var(--title-bar-center);
}

.windowTitleBarSides {
  @apply relative flex-grow h-3;
  background-image: var(--title-bar-center);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-system-1: #EEEEEE;
  --color-system-2: #DDDDDD;
  --color-system-3: #CCCCCC;
  --color-system-4: #AAAAAA;
  --color-system-5: #808080;
  --color-system-6: #393939;
  --color-system-7: #202020;
  --color-outline-1: #6666CC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Chicago", "Geneva", system-ui, -apple-system, sans-serif;
  overflow: hidden;
  cursor: default;
  user-select: none;
}

@font-face {
  font-family: 'Chicago';
  src: url('/fonts/ChicagoFLF.ttf') format('truetype');
}

/* Add more retro styling as needed */
